{% include 'header.html' %}

    <style>

        table{
            position:relative;
            width:80%;
            margin:5% 10%;
            }

    </style>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">SI.No</th>
          <th scope="col">Name</th>
          <th scope="col">Marks</th>
          <th scope="col">Time</th>
        </tr>
      </thead>

<!--        {% for i in range(times | length) %}-->
<!--          <tbody>-->
<!--            <tr>-->
<!--              <th scope="row">{{ i+1 }}</th>-->
<!--              <td>{{ names[i] }}</td>-->
<!--              <td>{{ marks[i] }}</td>-->
<!--              <td>{{ times[i] }}</td>-->
<!--            </tr>-->

<!--        </tbody>-->
<!--        {% endfor %}-->

        {{ all_record }}

        {% set i = namespace(value=0) %}
       {% for record in all_record %}
          <tbody>
            <tr>
<!--                {% if record.examinee_name != "Purushothaman Ganesan" %}-->
              <th scope="row">{{ i.value + 1 }}</th>
              <td>{{ record.examinee_name }}</td>
              <td>{{ record.marks }}</td>
              <td>{{ record.date }}</td>
                {% endif %}
            </tr>
          {% set i.value = i.value + 1 %}

        </tbody>
<!--        {% endfor %}-->

    </table>

{% include 'footer.html' %}