{% include 'header.html' %}

    <style>

        table{
            position:relative;
            width:80%;
            margin:5% 10%;
            }

    </style>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">SI.No</th>
          <th scope="col">Name</th>
          <th scope="col">Marks</th>
          <th scope="col">Time</th>
        </tr>
      </thead>

       {% set i = namespace(value=1) %}

        {% for i in range(student_time | length) %}
          <tbody>
            <tr>
              <th scope="row">{{ i.value }}</th>
              <td>{{ names[i] }}</td>
              <td>{{ marks[i] }}</td>
              <td>{{ times[i] }}</td>
            </tr>
          {% set i.value = i.value + 1 %}

        </tbody>
        {% endfor %}
    </table>

{% include 'footer.html' %}