{% include "header.html" %}

					<style>
					#demo {
					  text-align: center;
					  font-size: 60px;
					  margin-top: 0px;
					  display: block;
					}

					#final{
						display:none;
						}

					#main-wrapper{
						display:none;
						}

					#ques-area {
						width: 100%;
						}

					#ques-area h2{
						text-align: center;
						}

					#ques-area h4{
						text-align: center;
						padding-bottom: 10%;
						color: red;
						}

					.final-answers{
						display: none;
						}

					</style>

					<script>

					// document.oncontextmenu = function() {
							return false;
						};


					var countDownDate = new Date( {{ closetime|safe }} ).getTime();
					var openCountDownDate = new Date( {{ opentime|safe }} ).getTime();

					var x = setInterval(function() {

					  var now = new Date().getTime();

					  var distance = countDownDate - now;
					  var openDistance = openCountDownDate - now;

					  // closing time
					  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
					  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
					  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

					  // opening time
					  var openHours = Math.floor((openDistance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
					  var openMinutes = Math.floor((openDistance % (1000 * 60 * 60)) / (1000 * 60));
					  var openSeconds = Math.floor((openDistance % (1000 * 60)) / 1000);

					  if (hours <= 0 && minutes <= 0 && seconds <= 0 ) {
						  clearInterval(x);
						  document.getElementById("submit-bt").click();
						  document.getElementById("demo").style.display = "None";
						  document.getElementById("main-wrapper").style.display = "None";
						  document.getElementById("final").style.display = "block";
						  }

					  else if( openHours <= 0 && openMinutes <= 0 && openSeconds <= 0   ) {
						document.getElementById("demo").innerHTML = "Will close at: " + hours + "hrs " + minutes + "mins " + seconds + "s ";
					  	document.getElementById("main-wrapper").style.display = "block";
					  }

					  else {
					  	document.getElementById("demo").innerHTML = "Your exam will start in " + openHours + "h " + openMinutes + "m " + openSeconds + "s ";
					  }
					}, 1000);

					</script>


				<div id="final">
					<h3 style="text-align: center;">Hope you did well! Thank You!</h3>
					<p style="text-align:center">Back to <a href="{{ url_for('home') }}">Home!</a></p>
				</div>


				<p style="font-size:1.5rem" id="demo"></p>

				<div id="main-wrap">
					<div class="container">
						<div class="row gtr-200">

							{% if submitted %}
							<style>
								#answers {
									display: none;
									}

								.final-answers{
									display: block;
									}
							</style>
							{% endif %}

							<article id="ques-area">


							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature" style="background: pink">

										<div class="inner">
											<header>
												<h2>TEST NO.15</h2>
												<p style="padding-right:0px; position: absolute;">Date: 07.06.2021</p>
												<p style="padding-right:0px; text-align: right">Duration: 3 Hrs</p>

												{% if submitted %}
												<p style="text-align:center; font-size:2rem; padding:3%; color: deeppink;font-weight:bold">MARKS: {{ marks }}</p>
												{% endif %}

											</header>

											<hr style="opacity: 0.5;">
											<div style="padding: 3%;"></div>
											<h2>Question</h2>


										<form class="form-inline" method="POST" action="{{ url_for('evaluate') }}">

											{% for i in range(sl_no | length): %}

													<h5 style="text-align: center; padding:5%">{{ sl_no[i] }} {{ ques[i] }}</h5>
															<select class="form-select" aria-label="Default select example" id="answers" name="answers{{i}}">
															  <option selected>Not Yet Answered</option>
															  <option value="{{ a[i] }}">{{ a[i] }}</option>
															  <option value="{{ b[i] }}">{{ b[i] }}</option>
															  <option value="{{ c[i] }}">{{ c[i] }}</option>
															  <option value="{{ d[i] }}">{{ d[i] }}</option>
															</select>

											{% if submitted %}
													<div class="final-answers" style="text-align: center; padding: 3%">
														<p>You picked: <b style="color:white; padding-right: 5%">{{ answers[i] }}</b> Correct Answer: <b style="color:green; padding-right: 5%">{{ correct_answer[i] }} </b>
															<b style="color:red; position:relative;" >{{ final_result[i] }}</b></p>
													</div>
											{% endif %}


											{% endfor %}
<!--													<input style="display:none" type="text" id="fname" name="submit" value="{{test_no}}">-->

												{% if not submitted %}
												<button id="submit-bt" type="submit" style="margin-top: 10%;" class="btn btn-default">Submit</button>
												{% endif %}

											</form>

										</div>
									</section>
							</div>


								</article>

						</div>
					</div>
				</div>

{% include 'footer.html' %}
