<!--			&lt;!&ndash; Footer &ndash;&gt;-->
<!--				<div id="footer-wrapper">-->
<!--					<footer id="footer" class="container">-->
<!--						<div class="row">-->
<!--							<div class="col-3 col-6-medium col-12-small">-->

<!--								&lt;!&ndash; Links &ndash;&gt;-->
<!--									<section class="widget links">-->
<!--										<h3>Random Stuff</h3>-->
<!--										<ul class="style2">-->
<!--											<li><a href="#">Etiam feugiat condimentum</a></li>-->
<!--											<li><a href="#">Aliquam imperdiet suscipit odio</a></li>-->
<!--											<li><a href="#">Sed porttitor cras in erat nec</a></li>-->
<!--											<li><a href="#">Felis varius pellentesque potenti</a></li>-->
<!--											<li><a href="#">Nullam scelerisque blandit leo</a></li>-->
<!--										</ul>-->
<!--									</section>-->

<!--							</div>-->
<!--							<div class="col-3 col-6-medium col-12-small">-->

<!--								&lt;!&ndash; Links &ndash;&gt;-->
<!--									<section class="widget links">-->
<!--										<h3>Random Stuff</h3>-->
<!--										<ul class="style2">-->
<!--											<li><a href="#">Etiam feugiat condimentum</a></li>-->
<!--											<li><a href="#">Aliquam imperdiet suscipit odio</a></li>-->
<!--											<li><a href="#">Sed porttitor cras in erat nec</a></li>-->
<!--											<li><a href="#">Felis varius pellentesque potenti</a></li>-->
<!--											<li><a href="#">Nullam scelerisque blandit leo</a></li>-->
<!--										</ul>-->
<!--									</section>-->

<!--							</div>-->
<!--							<div class="col-3 col-6-medium col-12-small">-->

<!--								&lt;!&ndash; Links &ndash;&gt;-->
<!--									<section class="widget links">-->
<!--										<h3>Random Stuff</h3>-->
<!--										<ul class="style2">-->
<!--											<li><a href="#">Etiam feugiat condimentum</a></li>-->
<!--											<li><a href="#">Aliquam imperdiet suscipit odio</a></li>-->
<!--											<li><a href="#">Sed porttitor cras in erat nec</a></li>-->
<!--											<li><a href="#">Felis varius pellentesque potenti</a></li>-->
<!--											<li><a href="#">Nullam scelerisque blandit leo</a></li>-->
<!--										</ul>-->
<!--									</section>-->

<!--							</div>-->
<!--							<div class="col-3 col-6-medium col-12-small">-->

<!--								&lt;!&ndash; Contact &ndash;&gt;-->
<!--									<section class="widget contact">-->
<!--										<h3>Contact Us</h3>-->
<!--										<ul>-->
<!--											<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>-->
<!--											<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
<!--											<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
<!--											<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>-->
<!--											<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>-->
<!--										</ul>-->
<!--										<p>1234 Fictional Road<br />-->
<!--										Nashville, TN 00000<br />-->
<!--										(800) 555-0000</p>-->
<!--									</section>-->

<!--							</div>-->
<!--						</div>-->

<!--						<div class="row">-->
<!--							<div class="col-12">-->
<!--								<div id="copyright">-->
<!--									<ul class="menu">-->
<!--										<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">SENA</a></li>-->
<!--									</ul>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
					</footer>
				</div>

			</div>

		<!-- Scripts -->

			<!-- The core Firebase JS SDK is always required and must be listed first -->
			<script src="/__/firebase/8.6.3/firebase-app.js"></script>

			<!-- TODO: Add SDKs for Firebase products that you want to use
				 https://firebase.google.com/docs/web/setup#available-libraries -->
			<script src="/__/firebase/8.6.3/firebase-analytics.js"></script>

			<!-- Initialize Firebase -->
			<script src="/__/firebase/init.js"></script>

			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>