<!DOCTYPE HTML>

<html>

	<style>
		.logo-img{
			width: 15%;
		}

		#logo{
			position: relative;
			bottom: 2rem;
		}
		@media (max-width:980px) {
			.logo-img{
				width: 50%;
			}
		}
	</style>

	<head>
		<title>SENA CAREER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<link rel="icon" type="image/png" href="static/assets/favicon1.ico" />

	</head>

	<body class="is-preload homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<a href="{{ url_for('home') }}"><img class="logo-img" src="static/assets/images/LOGO.png" style="filter: hue-rotate(312deg);"></a>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="/">Welcome</a></li>

									{% if current_user.is_authenticated %}
									<li><a href="{{ url_for('logout') }}">Log-Out{{ current_user.email }}</a></li>
									{% if current_user.email == "jamespurysh@gmail.com" or "sivagangainagarajan@gmail.com" or "gangadha91@gmail.com" %}
									<li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
									{% endif %}

									{% else %}
									<li><a href="{{ url_for('login') }}">Login</a></li>
									<li><a href="{{ url_for('register') }}">Register</a></li>

									{% endif %}

									<li><a href="{{ url_for('change_password') }}">Change Password</a></li>

								</ul>
							</nav>

					</header>
				</div>