{% block content %}

{% include "header.html" %}

			<style>
				.feature{
					height: 100%;
					}
			</style>

			<!-- Banner -->
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="col-7 col-12-medium">
								<h2>SENA CAREER INSTITUTE</h2>
								<p>We welcome you to express what you have learned.</p>
							</div>
							<div class="col-5 col-12-medium">
								<ul>
									{% if warning %}
									<li><p style="text-align:center; color:red; font-weight:bold;">{{warning}}</p></li>

									{% elif fee %}
									<li><p style="text-align:center">Welcome,</p></li>
									<li><p style="text-align:center; color:red">{{name}}</p></li>
									<li><p style="text-align:center; color:#0090c5">Fee bending: Rs.{{bending}}</p></li>

									{% elif not fee %}

										{% if not current_user.is_authenticated %}
											<li><a href="{{ url_for('login') }}" class="button large icon solid fa-arrow-circle-right">Login</a></li>
											<li><a href="{{ url_for('register') }}" class="button alt large icon solid fa-registered">Register</a></li>

										{% else %}
											<img src="https://picsum.photos/400/300">
										{% endif %}

									{% endif %}

								</ul>
							</div>

						</div>
					</div>
				</div>

			<!-- Features -->
			{% if current_user.is_authenticated %}
				<div id="features-wrapper">
					<div class="container">
						<div class="row">

							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature" style="background: lavender;">
										<div class="inner">
											<header>
												<h2><a href="{{ url_for('exam', test_no=15) }}">TEST NO.15</a></h2>
												<p>14.06.2021</p>
											</header>
											<ul style="list-style-type:none;">
												<li><strong>Syllabus</strong></li>
												<li>* இந்திய பொருளாதாரத்தின் இயல்புகள் , சமூக பிரச்சனைகள் , மக்கள் தொகை , கல்வி , நல்வாழ்வு , வேலைவாய்ப்பு (ம )வறுமை</li>
												<li>* வளங்கள் (ம) தொழிலகங்கள்</li>
												<li>* கூட்டு (ம) பெருக்குத் தொடர் </li>
<!--												<li>Unit 10 - இயற்கணிதம்</li>-->
											</ul>
<!--											{{completed}}-->
											<a href="{{ url_for('result', test_no=15) }}"><button type="submit" style="margin-top: 10%;" class="btn btn-default">View Result</button></a>

										</div>
									</section>
							</div>

							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature" style="background: antiquewhite;">
										<div class="inner">
											<header>
												<h2><a href="{{ url_for('exam', test_no=16) }}">TEST NO.16</a></h2>
												<p>21.06.2021</p>
											</header>
											<ul style="list-style-type:none;">
												<li><strong>Syllabus</strong></li>
												<li>* இந்திய பண்பாட்டின் இயல்புகள் வேற்றுமையில் ஒற்றுமை , இனம் , மொழி , வழக்காறு.</li>
												<li>* ஒன்றியம் , மாநிலம் , யூனியன் பிரதேசம் </li>
												<li>* இந்திய தேசிய காங்கிரஸ் </li>
												<li>* Maths : எண்ணியல் </li>
<!--												<li>Unit 10 - இயற்கணிதம்</li>-->
											</ul>
<!--											{{completed}}-->
											<a href="{{ url_for('result', test_no=16) }}"><button type="submit" style="margin-top: 10%;" class="btn btn-default">View Result</button></a>

										</div>
									</section>

							</div>

							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature" style="background: cornflowerblue;">
										<div class="inner">
											<header>
												<h2><a href="{{ url_for('exam', test_no=17) }}">TEST NO.17</a></h2>
												<p>28.06.2021</p>
											</header>
											<ul style="list-style-type:none;">
												<li><strong>Syllabus</strong></li>
												<li>* கூட்டாட்சியின் அடிப்படை தன்மைகள் : மத்திய மாநில உறவுகள்</li>
												<li>* நுண்ணுயிரிகள் </li>
												<li>* மத்திய மாநில அரசுகளுக்கிடையேயான நிதி பகிர்வு </li>
												<li>* கணிதம் : தரவு விளக்கம்</li>
											</ul>
											<a href="{{ url_for('result', test_no=17) }}"><button type="submit" style="margin-top: 10%;" class="btn btn-default">View Result</button></a>

										</div>
									</section>

							</div>

							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature" style="background: thistle;">
										<div class="inner">
											<header>
												<h2><a href="{{ url_for('exam', test_no=18) }}">TEST NO.18</a></h2>
												<p>05.07.2021 </p>
											</header>
											<ul style="list-style-type:none;">
												<li><strong>Syllabus</strong></li>
												<li>* இந்திய நீதி அமைப்புகள் சட்டத்தின் ஆட்சி</li>
												<li>* இந்திய தேசிய காங்கிரஸ்</li>
											</ul>
											<a href="{{ url_for('result', test_no=18) }}"><button type="submit" style="margin-top: 10%;" class="btn btn-default">View Result</button></a>

										</div>
									</section>

							</div>

							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature" style="background: skyblue;">
										<div class="inner">
											<header>
												<h2><a href="{{ url_for('exam', test_no=19) }}">TEST NO.19</a></h2>
												<p>12.07.2021 </p>
											</header>
											<ul style="list-style-type:none;">

												<li><strong>Syllabus</strong></li>
												<li>* தாவர செயலியல், தாவர உள்ளமைப்பியல், தாவர உலகம்</li>
												<li>* லோக்பால் லோக் ஆயுக்தா</li>
												<li>* கணிதம் - எண் வரிசை</li>

											</ul>
											<a href="{{ url_for('result', test_no=19) }}"><button type="submit" style="margin-top: 10%;" class="btn btn-default">View Result</button></a>

										</div>
									</section>

							</div>

							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature" style="background: aqua;">
										<div class="inner">
											<header>
												<h2><a href="{{ url_for('exam', test_no=20) }}">TEST NO.20</a></h2>
												<p>19.07.2021 </p>
											</header>
											<ul style="list-style-type:none;">

												<li><strong>Syllabus</strong></li>
												<li>* இந்திய சமூக பண்பாட்டு வரலாற்றில் மாற்றங்களும் , தொடர்ச்சியும் : இந்திய பண்பாடும் சமயங்களும்.</li>
												<li>* வருவாய் ஆதாரங்கள்</li>
												<li>* தமிழகத்தின் பொருளாதார போக்குகள்</li>
												<li>* கணிதம் : வயது கணக்கு</li>

											</ul>
											<a href="{{ url_for('result', test_no=20) }}"><button type="submit" style="margin-top: 10%;" class="btn btn-default">View Result</button></a>

										</div>
									</section>

							</div>



							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature" style="background: turquoise;">
										<div class="inner">
											<header>
												<h2><a href="{{ url_for('exam', test_no=21) }}">TEST NO.21</a></h2>
												<p>26.07.2021 </p>
											</header>
											<ul style="list-style-type:none;">

												<li><strong>Syllabus</strong></li>
												<li>* இந்திய சமூக வரலாற்றின் மாற்றங்களுதொடர்ச்சியும்</li>
												<li>* இந்திய மக்கள் தொகை , போக்குவரத்து , தகவல் தொடர்பு மற்றும் வணிகம்</li>
												<li>* கணிதம் : வயது கணக்கு</li>
											</ul>
											<a href="{{ url_for('result', test_no=21) }}"><button type="submit" style="margin-top: 10%;" class="btn btn-default">View Result</button></a>

										</div>
									</section>

							</div>


							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature" style="background: #f6cd90;">
										<div class="inner">
											<header>
												<h2><a target="_blank" href="{{ url_for('exam', test_no=22) }}">TEST NO.22</a></h2>
												<p>02.08.2021 </p>
											</header>
											<ul style="list-style-type:none;">

												<li><strong>Syllabus</strong></li>
												<li>* 19,20ம் நூற்றாண்டின் TN சமூக சமய சீர்த்திருத்தம்</li>
												<li>* இந்திய அரசியலமைப்பு</li>
												<li>* கணிதம் : சுருக்குக</li>
											</ul>

											<a href="{{ url_for('result', test_no=22) }}"><button type="submit" style="margin-top: 10%;" class="btn btn-default">View Result</button></a>

										</div>
									</section>

							</div>

							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature" style="background: #d2d3c9;">
										<div class="inner">
											<header>
												<h2><a target="_blank" href="{{ url_for('exam', test_no=23) }}">TEST NO.22</a></h2>
												<p>09.08.2021 </p>
											</header>
											<ul style="list-style-type:none;">

												<li><strong>Syllabus</strong></li>
												<li>* 19,20ம் நூற்றாண்டின் TN சமூக சமய சீர்த்திருத்தம்</li>
												<li>* இந்திய அரசியலமைப்பு</li>
												<li>* கணிதம் : சுருக்குக</li>
											</ul>

											{% if completed %}
											<a href="{{ url_for('result', test_no=23) }}"><button type="submit" style="margin-top: 10%;" class="btn btn-default">View Result</button></a>
											{% endif %}

										</div>
									</section>

							</div>


						</div>
					</div>
				</div>

			{% endif %}


			<!-- Main -->
<!--				<div id="main-wrapper">-->
<!--					<div class="container">-->
<!--						<div class="row gtr-200">-->
<!--							<div class="col-4 col-12-medium">-->

<!--								 Sidebar-->
<!--									<div id="sidebar">-->
<!--										<section class="widget thumbnails">-->
<!--											<h3>Interesting stuff</h3>-->
<!--											<div class="grid">-->
<!--												<div class="row gtr-50">-->
<!--													<div class="col-6"><a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a></div>-->
<!--													<div class="col-6"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a></div>-->
<!--													<div class="col-6"><a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a></div>-->
<!--													<div class="col-6"><a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a></div>-->
<!--												</div>-->
<!--											</div>-->
<!--											<a href="#" class="button icon fa-file-alt">More</a>-->
<!--										</section>-->
<!--									</div>-->

<!--							</div>-->
<!--							<div class="col-8 col-12-medium imp-medium">-->

<!--								&lt;!&ndash; Content &ndash;&gt;-->
<!--									<div id="content">-->
<!--										<section class="last">-->
<!--											<h2>So what's this all about?</h2>-->
<!--											<p>This is <strong>Verti</strong>, a free and fully responsive HTML5 site template by <a href="http://html5up.net">HTML5 UP</a>.-->
<!--											Verti is released under the <a href="http://html5up.net/license">Creative Commons Attribution license</a>, so feel free to use it for any personal or commercial project you might have going on (just don't forget to credit us for the design!)</p>-->
<!--											<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor euismod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis lectus sit amet phasellus quam turpis.</p>-->
<!--											<a href="#" class="button icon solid fa-arrow-circle-right">Continue Reading</a>-->
<!--										</section>-->
<!--									</div>-->

<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
								<!--			&lt;!&ndash; Footer &ndash;&gt;-->
<!--				<div id="footer-wrapper">-->
<!--					<footer id="footer" class="container">-->
<!--						<div class="row">-->
<!--							<div class="col-3 col-6-medium col-12-small">-->

<!--								&lt;!&ndash; Links &ndash;&gt;-->
<!--									<section class="widget links">-->
<!--										<h3>Random Stuff</h3>-->
<!--										<ul class="style2">-->
<!--											<li><a href="#">Etiam feugiat condimentum</a></li>-->
<!--											<li><a href="#">Aliquam imperdiet suscipit odio</a></li>-->
<!--											<li><a href="#">Sed porttitor cras in erat nec</a></li>-->
<!--											<li><a href="#">Felis varius pellentesque potenti</a></li>-->
<!--											<li><a href="#">Nullam scelerisque blandit leo</a></li>-->
<!--										</ul>-->
<!--									</section>-->

<!--							</div>-->
<!--							<div class="col-3 col-6-medium col-12-small">-->

<!--								&lt;!&ndash; Links &ndash;&gt;-->
<!--									<section class="widget links">-->
<!--										<h3>Random Stuff</h3>-->
<!--										<ul class="style2">-->
<!--											<li><a href="#">Etiam feugiat condimentum</a></li>-->
<!--											<li><a href="#">Aliquam imperdiet suscipit odio</a></li>-->
<!--											<li><a href="#">Sed porttitor cras in erat nec</a></li>-->
<!--											<li><a href="#">Felis varius pellentesque potenti</a></li>-->
<!--											<li><a href="#">Nullam scelerisque blandit leo</a></li>-->
<!--										</ul>-->
<!--									</section>-->

<!--							</div>-->
<!--							<div class="col-3 col-6-medium col-12-small">-->

<!--								&lt;!&ndash; Links &ndash;&gt;-->
<!--									<section class="widget links">-->
<!--										<h3>Random Stuff</h3>-->
<!--										<ul class="style2">-->
<!--											<li><a href="#">Etiam feugiat condimentum</a></li>-->
<!--											<li><a href="#">Aliquam imperdiet suscipit odio</a></li>-->
<!--											<li><a href="#">Sed porttitor cras in erat nec</a></li>-->
<!--											<li><a href="#">Felis varius pellentesque potenti</a></li>-->
<!--											<li><a href="#">Nullam scelerisque blandit leo</a></li>-->
<!--										</ul>-->
<!--									</section>-->

<!--							</div>-->
<!--							<div class="col-3 col-6-medium col-12-small">-->

<!--								&lt;!&ndash; Contact &ndash;&gt;-->
<!--									<section class="widget contact last">-->
<!--										<h3>Contact Us</h3>-->
<!--										<ul>-->
<!--											<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>-->
<!--											<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
<!--											<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
<!--											<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>-->
<!--											<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>-->
<!--										</ul>-->
<!--										<p>1234 Fictional Road<br />-->
<!--										Nashville, TN 00000<br />-->
<!--										(800) 555-0000</p>-->
<!--									</section>-->

<!--							</div>-->
<!--						</div>-->

<!--						<div class="row">-->
<!--							<div class="col-12">-->
<!--								<div id="copyright">-->
<!--									<ul class="menu">-->
<!--										<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>-->
<!--									</ul>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</footer>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->

<!--			</div>-->

<!--		&lt;!&ndash; Scripts &ndash;&gt;-->

<!--			<script src="static/assets/js/jquery.min.js"></script>-->
<!--			<script src="static/assets/js/jquery.dropotron.min.js"></script>-->
<!--			<script src="static/assets/js/browser.min.js"></script>-->
<!--			<script src="static/assets/js/breakpoints.min.js"></script>-->
<!--			<script src="static/assets/js/util.js"></script>-->
<!--			<script src="static/assets/js/main.js"></script>-->

<!--	</body>-->
<!--</html>-->


{% include "footer.html" %}
{% endblock %}