{% include "header.html" %}
{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div id="content">

								<article>
									{% for message in errors %}
										<h5 style="text-align:center; color: #ff4486; margin-bottom:4%">{{ message }}</h5>
									{% endfor %}

									  <div class="container">
										<div class="row">
											{% if admission %}
											  <h5 style="text-align:justify; color:violet">Hello Rocker! We welcome you to join with us to see a beautiful world. Sena will help you with all your journey.</h5>
											{% endif %}
										  <div class="col-lg-6 col-md-12 mx-auto">
										  <img src="https://images.unsplash.com/photo-1622180203433-d1c6dfed60f2?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0N3x8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" width="100%" style="padding-top:0px;padding-left:0px">
											</div>
										  <div class="col-lg-6 col-md-12 mx-auto">
											{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

											{%  if not admission %}
											<p style="text-align:right; margin-top:7%">Already have an account <a href="{{ url_for('login') }}" style="text-decoration:none;">Login</a> here!</p>
<!--											<p style="text-align:right"><a href="{{ url_for('new_admission') }}" style="text-decoration:none">Admissions</a> are always welcome</p>-->
											  {% endif %}


										  </div>
										</div>
									  </div>

									</article>

						</div>
					</div>
				</div>

{% include 'footer.html' %}
{% endblock %}
